[submodule "SeforimLibrary"]
	path = SeforimLibrary
	url = https://github.com/kdroidFilter/SeforimLibrary.git

[submodule "SeforimAcronymizer"]
	path = SeforimAcronymizer
	url = https://github.com/kdroidFilter/SeforimAcronymizer.git
[submodule "SeforimMagicIndexer"]
	path = SeforimMagicIndexer
	url = https://github.com/kdroidFilter/SeforimMagicIndexer
